GJ2N7R_09027/1. feladat/mozi.dtd

<!ELEMENT mozi (film*)>

<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film mufaj (akcio|horror|sci-fi) #REQUIRED>
<!ATTLIST film id ID #REQUIRED>

<!ELEMENT rendezo (#PCDATA)>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ELEMENT szinesz (#PCDATA)>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ELEMENT iro (#PCDATA)>
<!ATTLIST iro id ID #REQUIRED>
<!ATTLIST mufaj tipus CDATA #REQUIRED>